# Only prepared Markdown, provenance, licenses, and runtime scripts enter builds.
*
!deploy/Dockerfile
!deploy/scripts/wait-and-mine.sh
!deploy/scripts/public-mcp.py
!.build/knowledge/**
!.build/licenses/**
!.build/sources.json
!.build/documents.json
!scripts/knowledge_catalog.py
!deploy/scripts/index-knowledge.py
!deploy/scripts/public_retrieval.py
