# Only prepared Markdown, provenance, licenses, and runtime scripts enter builds.
*
!deploy/Dockerfile
!deploy/scripts/wait-and-mine.sh
!deploy/scripts/public-mcp.py
!.build/knowledge/**
!.build/licenses/**
!.build/sources.json
